<div class="dashboard-container">

  <div class="dashboard-header">
    <h3 class="dashboard-title" style="color: #030303">Eléments de facturation reçus</h3>
  </div>

  <div class="filter-section">
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="start center"
      fxLayoutGap="12px"
      fxLayoutGap.xs="10px"
    >
      <mat-form-field appearance="outline" floatLabel="always" fxFlex="45" fxFlex.xs="100">
        <mat-label>Direction</mat-label>
        <mat-select [(ngModel)]="directionFilter" (selectionChange)="onDirectionChange($event.value)">
          <mat-option *ngFor="let item of directions" [value]="item.id">
            {{ item.libelle }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" fxFlex="45" fxFlex.xs="100">
        <mat-label>Catégorie de service</mat-label>
        <mat-select [(ngModel)]="serviceFilter" (selectionChange)="onCategorieChange($event.value)">
          <mat-option *ngFor="let item of filteredCategories" [value]="item.id">
            {{ item.libelle }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-mini-fab color="primary" (click)="checher()" fxFlex="none" matTooltip="Rechercher">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="reset()" fxFlex="none" matTooltip="Réinitialiser">
        <mat-icon>cached</mat-icon>
      </button>
    </div>
  </div>


  <div class="mat-elevation-z10">
    <table [dataSource]="t_ElementFacturationRecuCreeList" mat-table matSort style="width: 100%">

      <ng-container matColumnDef="client">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Client</th>
        <td *matCellDef="let element" mat-cell> {{element.client}} </td>
      </ng-container>

      <ng-container matColumnDef="date_soumission">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Date soumission</th>
        <td *matCellDef="let element" mat-cell> {{element.date_soumission|date: 'dd/MM/yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="categorie_produit_id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Catégorie</th>
        <td *matCellDef="let element" mat-cell> {{getCategorie(element.categorie_produit_id)}} </td>
      </ng-container>
      <!--      <ng-container matColumnDef="statut">-->
      <!--        <th *matHeaderCellDef mat-header-cell mat-sort-header> Statut</th>-->
      <!--        <td *matCellDef="let element" mat-cell> {{getStatut(element.statut)}} </td>-->
      <!--      </ng-container>-->

            <ng-container matColumnDef="type_frais">
              <th *matHeaderCellDef mat-header-cell mat-sort-header> Type frais</th>
              <td *matCellDef="let element" mat-cell> {{getTypeFrais(element.type_frais)}} </td>
            </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell>Actions
        </th>
        <td *matCellDef="let element" mat-cell>
          <button [matMenuTriggerFor]="menu" color="warn" mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="crud(element,this.operations.update)" mat-menu-item>
              <mat-icon color="warn">edit</mat-icon>
              Traiter
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr (click)="onRowClicked(element)" *matRowDef="let element; columns: displayedColumns;"
          [ngClass]="{ 'selected': element === selectedRow }" mat-row></tr>

      <!-- Row shown when there is no matching data. -->
      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="4">Aucune correspondance trouvée dans la base de données correspondant au critère
          de
          recherche
        </td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[3,5, 10, 15]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>
</div>
