.dark-card {
  background-color: #dfd8d8; /* Fond sombre */
  //color: #ffffff; /* Texte blanc pour le contraste */
  margin: 10px 0;
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre légère */
}
