/* Variables pour les icônes (SIDE NAV) */
.mat-icon {
vertical-align: middle;
margin-right: 8px; /* Espace standard dans le menu latéral */
}

/* Conteneur du composant hôte */
:host {
/* Laisser vide */
}

.sidenav {
width: 240px;
// background-color: var(--surface);
padding-bottom: 20px;
}

/* Zone du Logo ARCEP */
.logo-container {
text-align: center;
padding: 16px 20px;
}
.arcep-logo {
max-width: 100%;
height: auto;
display: block;
}

/* Zone de défilement des menus */
.menu-scroll {
padding: 0 4px;
}

/* Expansion panel */
mat-expansion-panel {
box-shadow: none !important;
background: transparent;
margin: 4px 6px;
}

/* Header des panneaux */
mat-expansion-panel-header {
padding: 0 8px;
height: 48px !important;
}

/* Corps des panneaux d'expansion (sous-menus) */
mat-expansion-panel .mat-nav-list {
padding-top: 0;
}


/* --- Styles de la Toolbar principale --- */
.mat-toolbar.mat-primary {
position: sticky;
top: 0;
z-index: 1000;
}

.app-toolbar {
display: flex;
align-items: center;
}

.app-title {
font-weight: 700;
letter-spacing: .2px;
}

.spacer {
flex: 1 1 auto;
}

.toolbar-actions {
display: flex;
align-items: center;
gap: .5rem;
}

/* Bouton Auth */
.app-toolbar .auth-btn {
text-transform: none;
display: inline-flex;
align-items: center;
gap: .25rem;
height: 40px; 
line-height: 1;
font-weight: 600;
}

/* Icônes générales dans la toolbar */
.app-toolbar .mat-icon {
vertical-align: middle;
line-height: 1;
margin-right: 0; /* Pas de marge à droite des icônes d'actions */
}

/* Enlève la marge du matListIcon par défaut si ce n'est pas un item actif */
.sidenav a.mat-list-item .mat-icon {
margin-right: 16px; 
}