<mat-card>
  <mat-card-header>
    <mat-card-title><h3>Relevé de compte</h3></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="releve-container">

      <!-- Informations générales -->
      <div class="releve-info">
        <p><strong>Client :</strong> {{client?.denomination_sociale}}</p>
        <p><strong>Relevé de compte du :</strong> {{date|date:'dd/mm/YYYY'}}</p>
      </div>

      <!-- Titre de la section des factures -->
      <h3>Factures</h3>

      <!-- Tableau des factures -->
      <div class="factures-table">
        <table mat-table [dataSource]="t_LigneReleveCompteClient" class="mat-elevation-z0">
          <!-- Définition des colonnes -->
          <ng-container matColumnDef="date_echeance">
            <th mat-header-cell *matHeaderCellDef> Échéance</th>
            <td mat-cell *matCellDef="let facture"> {{facture.date_echeance| date:'dd/mm/yyyy'}} </td>
          </ng-container>

          <ng-container matColumnDef="reference">
            <th mat-header-cell *matHeaderCellDef> reference</th>
            <td mat-cell *matCellDef="let facture"> {{facture.reference}} </td>
          </ng-container>

          <ng-container matColumnDef="produit">
            <th mat-header-cell *matHeaderCellDef> Produit</th>
            <td mat-cell *matCellDef="let facture"> {{facture.produit}} </td>
          </ng-container>

          <ng-container matColumnDef="montant_facture">
            <th mat-header-cell *matHeaderCellDef> Montant facture</th>
            <td mat-cell *matCellDef="let facture"> {{facture.montant_facture}} </td>
          </ng-container>

          <ng-container matColumnDef="montant_encaissement">
            <th mat-header-cell *matHeaderCellDef> Encaissement</th>
            <td mat-cell *matCellDef="let facture"> {{facture.montant_encaissement}} </td>
          </ng-container>

          <!-- Ligne des colonnes -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <!-- Solde global -->
      <div class="solde-global">
        <p><b>Montant Facture :</b> {{recouvDashboardClient.total_du}}</p>
        <p><b>Montant Encaissement :</b> {{recouvDashboardClient.avance_du}}</p>
        <p><b>Solde global :</b></p>
      </div>

      <!-- Bouton Fermer -->

    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="actions">
      <button mat-raised-button color="warn" (click)="onFerme()">Fermer</button>
    </div>
  </mat-card-actions>
</mat-card>
