<h1 class="page-title">Fiche technique : Agrément d'équipement</h1>
<div mat-dialog-content class="dense-40">

  <form [formGroup]="form_ficheTechnique">
    <!-- Ligne 1 : Client 60% + Catégorie de service 40% -->
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-form-field appearance="outline" floatLabel="always" fxFlex="100" fxFlex.xs="100">
        <mat-label>Client</mat-label>
        <mat-select formControlName="client" matTooltip="Client">
          <mat-option *ngFor="let item of clients" (click)="onGetClient(item)" [value]="item.id">
            {{ item?.denomination_sociale }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-form-field appearance="outline" floatLabel="always" fxFlex="100" fxFlex.xs="100">
        <mat-label>Commentaire</mat-label>
        <textarea matInput formControlName="commentaire" matTooltip="Commentaire"></textarea>
      </mat-form-field>
    </div>
  </form>

  <b><span>     Ajout d'un type d'agrement</span></b>
  <form [formGroup]="form_ficheTechniquesProduit">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="10px" fxLayoutGap.xs="10px">

      <mat-form-field appearance="outline" floatLabel="always" fxFlex="30" fxFlex.xs="100">
        <mat-label>Type d'agrement</mat-label>
        <mat-select formControlName="produit" matTooltip="Type d'agrement">
          <mat-option *ngFor="let item of produits" [value]="item.id">
            {{ item.libelle }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" fxFlex="30" fxFlex.xs="100">
        <mat-label>Marque</mat-label>
        <input type="text" min="1" matInput  formControlName="marque" matTooltip="Marque" required>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" fxFlex="30" fxFlex.xs="100">
        <mat-label>Modèle</mat-label>
        <input type="text" min="1" matInput  formControlName="modele" matTooltip="Modèle" required>
      </mat-form-field>

      <button mat-raised-button class="custom-chip-button" color="primary"
              [disabled]="form_ficheTechniquesProduit.invalid"
              matTooltip="Ajouter à la commande"
              (click)="onAdd()">
        <mat-icon>add</mat-icon>
        Ajouter
      </button>

    </div>

  </form>

  <div class="table-frame mat-elevation-z10 dense-table">
    <!--<b><span >     Liste des types d'agrements sélectionnés</span></b>-->
    <table style="width: 100%" mat-table [dataSource]="t_FicheTechniquesProduits" matSort class="mat-mdc-table">

      <ng-container matColumnDef="produit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type d'agrement</th>
        <td mat-cell *matCellDef="let element"> {{getProduit(element.produit)}} </td>
      </ng-container>

      <ng-container matColumnDef="marque">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Marque</th>
        <td mat-cell *matCellDef="let element"> {{element.marque}} </td>
      </ng-container>

      <ng-container matColumnDef="modele">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Modèle</th>
        <td mat-cell *matCellDef="let element"> {{element.marque}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" color="warn">
            <mat-icon>settings</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item class="btn_edit" (click)="onUpdate(element)">
              <mat-icon color="primary">edit</mat-icon>
              Modifier
            </button>
            <button mat-menu-item class="btn_delete" (click)="onDelete(element)">
              <mat-icon color="warn">delete</mat-icon>
              Supprimer
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          Aucune correspondance trouvée dans la base de données correspondant au critère de recherche
        </td>
      </tr>
    </table>

    <!-- Ligne de bas de tableau : paginator (à gauche) + total (à droite) -->
    <div class="table-bottom">
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[3,5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
<br>
<div align="end" mat-dialog-actions>
  &nbsp;&nbsp;
  <button mat-raised-button class="custom-chip-button" color="primary" (click)="onRetour()" matTooltip="Imprimer">
    <mat-icon>undo</mat-icon>
    Retour
  </button>
  &nbsp;&nbsp;
  &nbsp;&nbsp;
  <button mat-raised-button *ngIf="this.operation===this.operations.create ||this.operation===this.operations.update" class="custom-chip-button" color="primary" (click)="onSave()"
          [disabled]="t_FicheTechniquesProduits.data?.length<1"
          matTooltip="Enregistrer">
    <mat-icon>save</mat-icon>
    Enregistrer
  </button>
  &nbsp;&nbsp;
  <button mat-raised-button *ngIf="this.operation===this.operations.transmettre" (click)="onTransmettre()" color="warn">Transmettre</button>

</div>
